body {
  display: grid;
  place-items: center;
  margin: 0;
  height: 100vh;
  background: #000;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:not(:checked) ~ label:hover,
input[type="radio"]:not(:checked) ~ label:hover ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
input[type="radio"]:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

.star-widget input#star5:checked ~ form header:before {
  content: "아주 좋아요 😻";
}
.star-widget input#star4:checked ~ form header:before {
  content: "좋아요 😸";
}
.star-widget input#star3:checked ~ form header:before {
  content: "보통이에요 😺";
}
.star-widget input#star2:checked ~ form header:before {
  content: "그저 그래요 😿";
}
.star-widget input#star1:checked ~ form header:before {
  content: "별로에요 😾";
}

.star-widget label {
  font-size: 50px;
  float: right;
  color: #444;
  cursor: pointer;
}
.star-widget form header {
  margin: 15px 0;
  font-size: 25px;
  text-align: center;
  color: #eee;
}
.star-widget form header:before {
  display: inline-block;
  margin-top: 15px;
}
