body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: #000;
}
a {
  position: relative;
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  font-size: 3em;
}
a:before {
  content: attr(data-text);
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  font-size: 18px;
  background: #eee;
  color: #000;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
}
a:after {
  content: "";
  position: absolute;
  top: -23px;
  left: 45%;
  width: 10px;
  height: 10px;
  background: #eee;
  transform: rotate(45deg);
  opacity: 0;
  visibility: hidden;
}
a:hover:after,
a:hover:before {
  opacity: 1;
  visibility: visible;
}
